<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
  <% include ../partials/reverse_words %>
  <% include ../partials/db_stuff %>
  <% include ../partials/cool_code %>
  <% include ../partials/last_name %>
</body>
</html>